services:
  app:
    build: .
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
      - "9229:9229"
    volumes:
      - .:/app:cached
      - /app/node_modules
    working_dir: /app
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
      - SERVER_HOST=${SERVER_HOST}
      - SERVER_PORT=${SERVER_PORT}
      - CACHE_PATH=${CACHE_PATH}
    command: sh -c "npm install && npx nodemon --inspect=0.0.0.0:9229 --legacy-watch main.js"
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    env_file:
      - .env 
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql
      
volumes:
  db_data: